In [1]:
import pandas as pd
import numpy as np
import random
import string

In [2]:
# printing lowercase
letters = string.ascii_lowercase

In [3]:
letters

'abcdefghijklmnopqrstuvwxyz'

In [4]:
num_seqs = 1000
seq_len = 50
library = 'ATCG'

seqs = []
for i in range(num_seqs):
    seq = ''.join(random.choice(library) for i in range(seq_len))
    seqs.append(seq)
    
df = pd.DataFrame(seqs, columns = ['seq'])
df

                                                   seq
0    GCGACCTGGAAGCACCCGGCATTTGGTCGAAAAATGCCGCAACGGA...
1    GAAAGCGGTAGGGGGTTGTAAGATGGGACGGTTCGTGTGCTCCCGA...
2    TTTGAAGTAAAGACAGCAAGCATTGGTAGACATCATATTCGTAGAG...
3    CACGCCTTGCCCGAGTCTCTTGACTTTACGACGACCTATAATTCCT...
4    ATCTATATCGTGCTCAATGCGCCAAGGAACTAGACTATTACCAGAA...
..                                                 ...
995  GTCGGTTGTAAGACGCGTGGGAAACGTGAATAATGGGTAGCACGTT...
996  CGCAGTTATAATTATGGTGCGTCTAGGATCAGCACACCATCAAATG...
997  GTCAGCCGTCTGCAGGATTGTCCATATAGGACAATAACGCCAGTAC...
998  GTATGTTAACGAATGTCGTGATCTACCGATCTGACAAGTCGTTCGG...
999  CCTATACTATCCGCCAGCGGACCACAGGCAAGGTAATAGATATTGA...

[1000 rows x 1 columns]

In [5]:
def scoreStringPositive(seq):
    score = 0
    for s in seq:
        if s == 'A':
            add = 1
        elif s == 'T':
            add = 2
        elif s == 'C':
            add = 3
        elif s == 'G':
            add = 4
        score = score + add
    return score

In [6]:
def scoreStringNegative(seq):
    score = 0
    for s in seq:
        if s == 'A':
            add = 1
        elif s == 'T':
            add = 2
        elif s == 'C':
            add = 3
        elif s == 'G':
            add = -1
        score = score + add
    return score

In [7]:
df['positive_score'] = [scoreStringPositive(seq) for seq in df['seq']]
df['mixed_score'] = [scoreStringNegative(seq) for seq in df['seq']]
df.to_csv('clean/small_synthetic.csv', index = False)
df

,seq,positive_score,mixed_score
0,GCGACCTGGAAGCACCCGGCATTTGGTCGAAAAATGCCGCAACGGA...,126,56
1,GAAAGCGGTAGGGGGTTGTAAGATGGGACGGTTCGTGTGCTCCCGA...,139,34
2,TTTGAAGTAAAGACAGCAAGCATTGGTAGACATCATATTCGTAGAG...,111,56
3,CACGCCTTGCCCGAGTCTCTTGACTTTACGACGACCTATAATTCCT...,122,82
4,ATCTATATCGTGCTCAATGCGCCAAGGAACTAGACTATTACCAGAA...,113,63
...,...,...,...
995,GTCGGTTGTAAGACGCGTGGGAAACGTGAATAATGGGTAGCACGTT...,132,37
996,CGCAGTTATAATTATGGTGCGTCTAGGATCAGCACACCATCAAATG...,120,60
997,GTCAGCCGTCTGCAGGATTGTCCATATAGGACAATAACGCCAGTAC...,122,62
998,GTATGTTAACGAATGTCGTGATCTACCGATCTGACAAGTCGTTCGG...,126,61
999,CCTATACTATCCGCCAGCGGACCACAGGCAAGGTAATAGATATTGA...,120,65

In [8]:
# now do large synthetic set
num_seqs = 100000
seq_len = 50
library = 'ATCG'

seqs = []
for i in range(num_seqs):
    seq = ''.join(random.choice(library) for i in range(seq_len))
    seqs.append(seq)
    
df = pd.DataFrame(seqs, columns = ['seq'])
df['positive_score'] = [scoreStringPositive(seq) for seq in df['seq']]
df['mixed_score'] = [scoreStringNegative(seq) for seq in df['seq']]
df.to_csv('clean/large_synthetic.csv', index = False)
df

,seq,positive_score,mixed_score
0,CAATCGTATTGCCTAAGCTAAACAAAAGATACACTGGATTATTATT...,110,60
1,GTCAACCTAAGTAGTCTAGAGATTCTATCGTACTATACCCCCAACC...,115,85
2,CTCCCTGCTTGTCGGACTCGATACATGCATATGCTCTATGACAGTT...,124,74
3,AGACCAGCCTTGGGGCAGCACCGAAGAGGCTTACTTCTAGAAGCAA...,129,54
4,CTCGGGGCTGAGAAGGTACGAGTACAGGACAGCGTCCCTACGTATA...,133,48
...,...,...,...
99995,AACTAACCTCCAGACCTAGCTAGCAAGGTTCACCAGTTATGGCAGC...,121,66
99996,TGTTAGTATCTTCTTCGATTTCGGTGTGTGCCATCGACACTCTTCT...,125,80
99997,GGAATTGCGCCAGTACAATTGGGGGTGTGTGGCCCTCACTCAGCAC...,133,53
99998,AACCTACGTTAGTTTTAGTGGATAGTGTCACACACAAGTGGTTCCA...,120,60
99999,GTAAGTTAACTTCTATATGAGACTGGCGACGCCTATCGTCATAGGA...,118,58